<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <form [formGroup]="information">
      <label for="fname">First Name</label>
      <input type="text" id="fname" formControlName="fname" name="firstname" placeholder="Tara">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" formControlName="lname" name="lastname" placeholder="Singh">

      <label for="location">Location</label>
      <input type="text" id="location" formControlName="location" name="location" placeholder="Mumbai">

      <label for="contact">Contact</label>
      <input type="text" id="contact" formControlName="contact" name="contact" maxlength="10" placeholder="0000000000">

      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" name="email" placeholder="abc@gmail.com">

      <input type="submit" *ngIf="cond == false" value="Submit" (click)="submit()">
      <input type="submit" *ngIf="cond == true" value="Update" (click)="submit()">
    </form>
  </div>
</body>

</html>